.bts{
    width: 3cm;
    height: 1cm;
    padding: 5px;
    font-size: 1.2em;
    cursor: pointer;
    margin: 5px;
    border: 3px solid transparent;
    color: rgba(0, 0, 0, 0.979);
    background-color: rgba(121, 199, 166, 0.788);
    transition-property: background-color, color, border;
    transition-duration: 0.4s;
    border-radius: 12px;
  }
  .bts:hover{
    background-color: transparent;
    color: rgb(0, 0, 0);
    border: 3px solid rgb(255, 255, 255);
   }
   header {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 12px;
    background-color: rgba(169, 169, 169, 0);
  }
  .header-logo {
    width: 5rem;
  }

  .log{
      background-color: rgba(169, 169, 169, 0.733);
      margin: auto;
      text-align: center;
      width: 15cm;
      height: 10cm;
  }